// COLORS
$primary-color: #b09f02;
$secondary-color: #dc5b45;

$white-color: rgb(0, 0, 0);

$dark-grey: #595757;
$light-grey: #333333;

$dark-blue-text: #d2d2d2; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
